body {
    background-color: darkgoldenrod;
    text-align: center;
    font-family: "Lucida Handwriting";
    color: darkcyan;
    font-size: xx-large;
}

input, button {
    font-size: xx-large;
}

img {
    width: 200px;
    height: 200px;
    border: 1px solid black;
}